/* Login.css */

body {
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

html {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 5px;
  background-color: rgba(46, 144, 0, 1);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100%;
}

.form-container {
  width: 100%;
  border-radius: 10px;
  max-width: 400px;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 90%; /* Set the height to take up the entire screen */
  margin-left: auto; /* Push the form-container to the right */
  margin-right: 200px; /* Add some right margin for better appearance */
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: rgba(46, 144, 0, 1); /* Updated color */
}

button {
  background-color: rgba(46, 144, 0, 1);
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px; /* Added spacing at the top of the button */
}

button:hover {
  background-color: rgba(34, 105, 0, 1);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

label {
  font-size: 16px;
  margin-bottom: 8px;
  color: rgba(46, 144, 0, 1);
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px; /* Added spacing at the bottom of the input */
}

.additional-links {
  display: flex;
  flex-direction: column; /* Change to a column layout */
  align-items: center; /* Center the links horizontally */
  margin-top: 20px; /* Adjust top margin for spacing */
}

.additional-links a {
  color: rgba(46, 144, 0, 1);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
  margin-bottom: 10px; /* Add bottom margin for spacing */
}

.additional-links a:hover {
  color: rgba(34, 105, 0, 1);
}
